body html{
    margin:0
}
.main{
    min-width: 320px;
    height: auto;
    position: absolute;
    left: 0px;
    right: 0px;
    margin: 0px;
}
.container{
    position: relative;
    margin: 70px 5px 0 5px;
}
.poster{
    text-align: center;
}
.description{
    margin: 10px;
}
