.menu{
    margin: 10px;
}
.menuRoot{
    flex-grow: 1;
}
.cardHolder{
    padding: 10px !important;    
}
.contentHolder{
    word-wrap: break-word;
}
.mediaHolder{
    overflow: hidden;
    border-radius: 2px 2px 0 0;
    max-height: 125px;
    transition: transform .7s;
}